<h1>Alle Kanäle von <%= @iogroupcomponent.name %></h1>
<br>
<a href="<%=new_iogroup_iogroupcomponent_iochannel_path(@iogroup.id, @iogroupcomponent.id)%>" class="btn btn-success">Neuen Kanal erstellen</a>
<br><br><br>
<div id="content" class="table-responsive">
  <table class="table table-striped table-bordered data_table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Kanalnummer</th>
      <th>Kanaltyp</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
      <% @iochannels.each do |iochannel| %>
        <tr>
          <td><%= iochannel.id %></td>
          <td><%= iochannel.kanalnummer %></td>
          <td><%= iochannel.channeltype %></td>
          <td>
            <a href="<%= edit_iogroup_iogroupcomponent_iochannel_path(@iogroup.id, @iogroupcomponent.id, iochannel.id) %>" class="btn btn-xs btn-info btn-index">Bearbeiten</a>
            <button type="button" class="btn btn-xs btn-danger btn-index"
                    data-toggle="modal" data-target="#popup_sure_delete"
                    data-itemid="<%= iochannel.id %>"
                    data-model="iochannels">
              Kanal löschen
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Zurück zu Einbauten", iogroup_iogroupcomponents_path(@iogroup.id) %>

<%= render 'layouts/loading', :message => "Lade Kanäle..." %>
<%= render 'layouts/popups' %>