<%= form_for iotype do |iotype| %>

    <div class="field form-group">
      <%= iotype.label :name, 'Name' %>
      <%= iotype.text_field :name, :class => "form-control",
                             placeholder: 'Name von IO-Gruppentyp eingeben' %>
    </div>
    <div class="actions form-group">
      <% if context %>
          <%= iotype.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= iotype.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>