<h1>Details IO-Gruppentyp</h1>
<br>
<% if @iotype.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @iotype.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @iotype.id %><br>
Name: <%= @iotype.name %><br>

<br><br>
<%= link_to "Zurück zu IO-Gruppentyp-Übersicht", iotypes_path %>

<%= render 'layouts/loading', :message => "Lade..." %>