<h1>Alle IO-Gruppen</h1>
<br>
<a href="<%=new_iogroup_path%>" class="btn btn-success">Neue IO-Gruppe erstellen</a>
<a href="<%=iogroups_path%>.csv" class="btn btn-default">CSV-Export</a>
<br><br><br>
<h4>Import von CSV</h4>
<%= form_tag import_iogroups_path, multipart: true do %>
    <div class="actions form-group">
      <%= file_field_tag :file, class: 'form-control' %><br>
      <%= submit_tag "Import CSV", class: "btn btn-success" %>
    </div>
<% end %><br>
<div id="content">
  <table id="iogroup_table" class="table table-striped table-bordered data_table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Profibus-Adresse</th>
      <th>IO-Gruppentyp</th>
      <th>Schaltgerätekombination</th>
      <th>Einbauten</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <% @iogroups.each do |iogroup| %>
        <tr>
          <td><%= iogroup.id %></td>
          <td><%= iogroup.name %></td>
          <td><%= iogroup.profibus_address %></td>
          <td><a href="<%= iotype_path(iogroup.iotype.id) %>"><%= iogroup.iotype.name %></a></td>
          <td><a href="<%= switchgearcombination_path(iogroup.switchgearcombination.id) %>"><%= iogroup.switchgearcombination.name %></a></td>
          <td>
            <ul>
              <% iogroup.iogroupcomponents.order(:steckplatznummer).each do |iogroupcomponent| %>
                <li>
                  <%= iogroupcomponent.steckplatznummer %>: <%= iogroupcomponent.name %>
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <a href="<%= iogroup_path(iogroup.id) %>" class="btn btn-xs btn-default btn-index">Info</a>
            <a href="<%= edit_iogroup_path(iogroup.id) %>" class="btn btn-xs btn-info btn-index">Bearbeiten</a>
            <a href="<%= iogroup_iogroupcomponents_path(iogroup.id) %>" class="btn btn-xs btn-info btn-index">Einbauten</a>
            <a href="<%= generate_iogroup_channels_path(iogroup.id) %>" class="btn btn-xs btn-default btn-index">Kanäle generieren</a>
            <a href="<%= delete_free_iogroup_channels_path(iogroup.id)  %>"
               class="btn btn-xs btn-default btn-index" onclick="return confirm('Sind Sie sicher? Allfällige Verknüpfungen mit Signalen werden ebenfalls gelöscht!')">Kanäle löschen
            </a>
            <button type="button" class="btn btn-xs btn-danger btn-index"
                    data-toggle="modal" data-target="#popup_sure_delete"
                    data-itemid="<%= iogroup.id %>"
                    data-model="iogroups">
              IO-Gruppe löschen
            </button>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render 'layouts/loading', :message => "Lade IO-Gruppen..." %>
<%= render 'layouts/popups' %>