<%= form_for device do |device| %>

    <div class="field form-group">
      <%= device.label :definition, 'Definition' %>
      <%= device.text_field :definition, :class => "form-control",
                             placeholder: '' %>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab1">Engineering</a></li>
      <li><a data-toggle="tab" href="#tab2">Geräte</a></li>
      <li><a data-toggle="tab" href="#tab3">Signale</a></li>
      <li><a data-toggle="tab" href="#tab4">Schaltanlagen</a></li>
      <li><a data-toggle="tab" href="#tab5">Elektroinstallation</a></li>
    </ul>

    <div class="tab-content">
      <div id="tab1" class="tab-pane fade in active">
        <br>
        <div class="field form-group">
          <%= device.label :eng_admin, 'Admin' %>
          <%= device.text_field :eng_admin,
                                  :class => "form-control",
                                  :required => true,
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_steuerkonzept, 'Steuerkonzept' %>
          <%= device.text_field :eng_steuerkonzept,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_ioliste, 'IO-Liste' %>
          <%= device.text_field :eng_ioliste,
                                  :required => true,
                                  :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_elplanung, 'El-Planung' %>
          <%= device.text_field :eng_elplanung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_fktbeschrieb, 'Fkt-Beschreibung/Dok' %>
          <%= device.text_field :eng_fktbeschrieb,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_safetymatrix, 'Safety-Matrix' %>
          <%= device.text_field :eng_safetymatrix,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_software, 'Software' %>
          <%= device.text_field :eng_software,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_softwaresafety, 'Software-Safety' %>
          <%= device.text_field :eng_softwaresafety,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_bauleitung, 'Bauleitung' %>
          <%= device.text_field :eng_bauleitung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_parametrierung, 'Parametrierung' %>
          <%= device.text_field :eng_parametrierung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_signaltest, 'Signaltest' %>
          <%= device.text_field :eng_signaltest,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_safetytest, 'Safety-Test' %>
          <%= device.text_field :eng_safetytest,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_fkttestkalt, 'Fkt.-Test kalt' %>
          <%= device.text_field :eng_fkttestkalt,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_fkttestheiss, 'Fkt.-Test heiss' %>
          <%= device.text_field :eng_fkttestheiss,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_konformitaet, 'Konformität' %>
          <%= device.text_field :eng_konformitaet,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab2" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :ger_beschriftung, 'Gerätebeschriftung' %>
          <%= device.text_field :ger_beschriftung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_sensor, 'Sensor' %>
          <%= device.text_field :ger_sensor,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_ventil, 'Ventil' %>
          <%= device.text_field :ger_ventil,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_heizung, 'Heizung' %>
          <%= device.text_field :ger_heizung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_m1r, 'M 1Rtg' %>
          <%= device.text_field :ger_m1r,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_m2r, 'M 2Rtg' %>
          <%= device.text_field :ger_m2r,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_mfu, 'M FU' %>
          <%= device.text_field :ger_mfu,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_wicklung, 'Wicklungsüberwachung' %>
          <%= device.text_field :ger_wicklung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_bremse, 'Bremse' %>
          <%= device.text_field :ger_bremse,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_geraeteheizung, 'Geräteheizung' %>
          <%= device.text_field :ger_geraeteheizung,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_kommunikation, 'Kommunikation' %>
          <%= device.text_field :ger_kommunikation,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_safety, 'Safety' %>
          <%= device.text_field :ger_safety,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_spsmodul, 'SPS-Modul' %>
          <%= device.text_field :ger_spsmodul,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab3" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :sig_di, 'DI' %>
          <%= device.text_field :sig_di,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_do, 'DO' %>
          <%= device.text_field :sig_do,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_ai, 'AI' %>
          <%= device.text_field :sig_ai,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_ao, 'AO' %>
          <%= device.text_field :sig_ao,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_z, 'Z' %>
          <%= device.text_field :sig_z,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_inkr, 'INKR' %>
          <%= device.text_field :sig_inkr,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_ssi, 'SSI' %>
          <%= device.text_field :sig_ssi,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_pb, 'PB' %>
          <%= device.text_field :sig_pb,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sdi, 'sDI' %>
          <%= device.text_field :sig_sdi,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sdo, 'sDO' %>
          <%= device.text_field :sig_sdo,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sai, 'sAI' %>
          <%= device.text_field :sig_sai,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sao, 'sAO' %>
          <%= device.text_field :sig_sao,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab4" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :switchgear_einbau, 'Schaltanlage Einbau' %>
          <%= device.collection_select :switchgear_einbau_id, Switchgear.all,:id,:kennung,
                                                     {:selected => switchgear_einbau_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :sch_anzahl, 'Schaltanlagen Anzahl' %>
          <%= device.text_field :sch_anzahl,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab5" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :wire_steuerung, 'Kabel Steuerung' %>
          <%= device.collection_select :wire_steuerung_id, Wire.all,:id,:kabeltyp,
                                       {:selected => wire_steuerung_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :kabelsteuerunglaenge, 'Kabel Steuerung Länge' %>
          <%= device.text_field :kabelsteuerunglaenge,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :wire_speisung, 'Kabel Speisung' %>
          <%= device.collection_select :wire_speisung_id, Wire.all,:id,:kabeltyp,
                                       {:selected => wire_speisung_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :kabelspeisunglaenge, 'Kabel Speisung Länge' %>
          <%= device.text_field :kabelspeisunglaenge,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :wire_potausgleich, 'Kabel Pot.-Ausgleich' %>
          <%= device.collection_select :wire_potausgleich_id, Wire.all,:id,:kabeltyp,
                                       {:selected => wire_potausgleich_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :kabelpotausgleichlaenge, 'Kabel Pot.-Ausgleich Länge' %>
          <%= device.text_field :kabelpotausgleichlaenge,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :elinst_trasse, 'Installation Trasse' %>
          <%= device.collection_select :elinst_trasse_id, ElectricalInstallation.all,:id,:kennung,
                                       {:selected => elinst_trasse_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :installationtrasselaenge, 'Installation Trasse Länge' %>
          <%= device.text_field :installationtrasselaenge,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :elinst_rohr, 'Installation Rohr' %>
          <%= device.collection_select :elinst_rohr_id, ElectricalInstallation.all,:id,:kennung,
                                       {:selected => elinst_rohr_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :installationrohrlaenge, 'Installation Rohr Länge' %>
          <%= device.text_field :installationrohrlaenge,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :elinst_geraete, 'Installation Geräte' %>
          <%= device.collection_select :elinst_geraete_id, ElectricalInstallation.all,:id,:kennung,
                                       {:selected => elinst_geraete_id, :include_blank => ''}, {class:"form-control"} %>
        </div>
        <div class="field form-group">
          <%= device.label :installationgeraetelaenge, 'Installation Geräte Länge' %>
          <%= device.text_field :installationgeraetelaenge,
                                  :required => true , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
    </div>





    <div class="actions form-group">
      <% if context %>
          <%= device.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= device.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>

<style>
  li {
    list-style: none;
  }
</style>