<%= semantic_form_for device do |device| %>

    <div class="field form-group">
      <%= device.label :definition, 'Definition' %>
      <%= device.text_field :definition, :class => "form-control",
                             placeholder: '' %>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab1">Engineering</a></li>
      <li><a data-toggle="tab" href="#tab2">Geräte</a></li>
      <li><a data-toggle="tab" href="#tab3">Signale</a></li>
      <li><a data-toggle="tab" href="#tab4">Schaltanlagen</a></li>
      <li><a data-toggle="tab" href="#tab5">Elektroinstallation</a></li>
    </ul>

    <div class="tab-content">
      <div id="tab1" class="tab-pane fade in active">
        <br>
        <div class="field form-group">
          <%= device.label :eng_admin, 'Admin' %>
          <%= device.text_field :eng_admin , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_steuerkonzept, 'Steuerkonzept' %>
          <%= device.text_field :eng_steuerkonzept , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_ioliste, 'IO-Liste' %>
          <%= device.text_field :eng_ioliste , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_elplanung, 'El-Planung' %>
          <%= device.text_field :eng_elplanung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_fktbeschrieb, 'Fkt-Beschreibung/Dok' %>
          <%= device.text_field :eng_fktbeschrieb , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_safetymatrix, 'Safety-Matrix' %>
          <%= device.text_field :eng_safetymatrix , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_software, 'Software' %>
          <%= device.text_field :eng_software , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_softwaresafety, 'Software-Safety' %>
          <%= device.text_field :eng_softwaresafety , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_bauleitung, 'Bauleitung' %>
          <%= device.text_field :eng_bauleitung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_parametrierung, 'Parametrierung' %>
          <%= device.text_field :eng_parametrierung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_signaltest, 'Signaltest' %>
          <%= device.text_field :eng_signaltest , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_safetymatrix, 'Safety-Test' %>
          <%= device.text_field :eng_safetymatrix , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_fkttestkalt, 'Fkt.-Test kalt' %>
          <%= device.text_field :eng_fkttestkalt , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_fkttestheiss, 'Fkt.-Test heiss' %>
          <%= device.text_field :eng_fkttestheiss , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :eng_konformitaet, 'Konformität' %>
          <%= device.text_field :eng_konformitaet , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab2" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :ger_beschriftung, 'Gerätebeschriftung' %>
          <%= device.text_field :ger_beschriftung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_sensor, 'Sensor' %>
          <%= device.text_field :ger_sensor , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_ventil, 'Ventil' %>
          <%= device.text_field :ger_ventil , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_heizung, 'Heizung' %>
          <%= device.text_field :ger_heizung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_m1r, 'M 1Rtg' %>
          <%= device.text_field :ger_m1r , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_m2r, 'M 2Rtg' %>
          <%= device.text_field :ger_m2r , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_mfu, 'M FU' %>
          <%= device.text_field :ger_mfu , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_wicklung, 'Wicklungsüberwachung' %>
          <%= device.text_field :ger_wicklung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_bremse, 'Bremse' %>
          <%= device.text_field :ger_bremse , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_heizung, 'Geräteheizung' %>
          <%= device.text_field :ger_heizung , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_kommunikation, 'Kommunikation' %>
          <%= device.text_field :ger_kommunikation , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :ger_safety, 'Safety' %>
          <%= device.text_field :ger_safety , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab3" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :sig_di, 'DI' %>
          <%= device.text_field :sig_di , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_do, 'DO' %>
          <%= device.text_field :sig_do , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_ai, 'AI' %>
          <%= device.text_field :sig_ai , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_ao, 'AO' %>
          <%= device.text_field :sig_ao , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_z, 'Z' %>
          <%= device.text_field :sig_z , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_inkr, 'INKR' %>
          <%= device.text_field :sig_inkr , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_ssi, 'SSI' %>
          <%= device.text_field :sig_ssi , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_pb, 'PB' %>
          <%= device.text_field :sig_pb , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sdi, 'sDI' %>
          <%= device.text_field :sig_sdi , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sdo, 'sDO' %>
          <%= device.text_field :sig_sdo , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sai, 'sAI' %>
          <%= device.text_field :sig_sai , :class => "form-control",
                                placeholder: '' %>
        </div>
        <div class="field form-group">
          <%= device.label :sig_sao, 'sAO' %>
          <%= device.text_field :sig_sao , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab4" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :switchgear, 'Schaltanlage Einbau' %>
          <% if switchgear %>
              <%= device.collection_select :switchgear_id, Switchgear.all,:id,:kennung,
                                          {:selected => switchgear.id, :include_blank => 'keine'},  {class:"form-control"} %>
          <% else %>
              <%= device.collection_select :switchgear_id, Switchgear.all,:id,:kennung,
                  {:include_blank => 'keine'}, {class:"form-control"} %>
          <% end %>
        </div>
        <div class="field form-group">
          <%= device.label :sch_anzahl, 'Schaltanlagen Anzahl' %>
          <%= device.text_field :sch_anzahl , :class => "form-control",
                                placeholder: '' %>
        </div>
      </div>
      <div id="tab5" class="tab-pane fade">
        <br>
        <div class="field form-group">
          <%= device.label :device_wires1, 'Kabel Steuerung' %><br><br>
          <%= device.semantic_fields_for :device_wires1 do |device_wire| %>
            <%= device.label 'Typ' %>
            <%= device_wire.input :wire_id, :required => false, :as => :select,
                                  :label => false,
                                  :collection => options_for_select(Wire.all.map { |w| [w.kabeltyp, w.id] }, kabel1),
                                  :input_html => {:value => kabel1, :class => 'form-control' }%>
            <%= device_wire.input :definition, :required => false, :as => :hidden,
                                  :label => false,
                                  :input_html => {:value => "Kabel Steuerung",  :class => 'form-control' } %>
            <br>
            <%= device.label 'Länge' %>
            <%= device_wire.input :laenge, :required => false,
                                  :label => false,
                                  :input_html => {:value => kabel1laenge,
                                                  :class => 'form-control' } %>
          <% end %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :device_wires2, 'Kabel Speisung' %><br><br>
          <%= device.semantic_fields_for :device_wires2 do |device_wire| %>
              <%= device.label 'Typ' %>
              <%= device_wire.input :wire_id, :required => false, :as => :select,
                                    :label => false,
                                    :collection => options_for_select(Wire.all.map { |w| [w.kabeltyp, w.id] }, kabel2),
                                    :input_html => { :class => 'form-control' }%>
              <%= device_wire.input :definition, :required => false, :as => :hidden,
                                    :label => false,
                                    :input_html => {:value => "Kabel Speisung",  :class => 'form-control' } %>
              <br>
              <%= device.label 'Länge' %>
              <%= device_wire.input :laenge, :required => false,
                                    :label => false,
                                    :input_html => {:value => kabel2laenge,
                                                    :class => 'form-control' } %>
          <% end %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :device_wires3, 'Kabel Pot-Ausgl.' %><br><br>
          <%= device.semantic_fields_for :device_wires3 do |device_wire| %>
              <%= device.label 'Typ' %>
              <%= device_wire.input :wire_id, :required => false, :as => :select,
                                    :label => false,
                                    :collection => options_for_select(Wire.all.map { |w| [w.kabeltyp, w.id] }, kabel3),
                                    :input_html => { :class => 'form-control' }%>
              <%= device_wire.input :definition, :required => false, :as => :hidden,
                                    :label => false,
                                    :input_html => {:value => "Kabel Pot-Ausgl.",  :class => 'form-control' } %>
              <br>
              <%= device.label 'Länge' %>
              <%= device_wire.input :laenge, :required => false,
                                    :label => false,
                                    :input_html => {:value => kabel3laenge,
                                                    :class => 'form-control' } %>
          <% end %>
        </div>

        <br><br>
        <div class="field form-group">
          <%= device.label :device_electrical_installations1, 'Installation Trasse' %><br><br>
          <%= device.semantic_fields_for :device_electrical_installations1 do |device_electrical_installation| %>
              <%= device_electrical_installation.label 'Kennung' %>
              <%= device_electrical_installation.input :electrical_installation_id, :required => false, :as => :select,
                                    :label => false,
                                    :collection => options_for_select(ElectricalInstallation.all.map { |w| [w.kennung, w.id] }, elinst1),
                                    :input_html => {:value => kabel1, :class => 'form-control' }%>
              <%= device_electrical_installation.input :definition, :required => false, :as => :hidden,
                                    :label => false,
                                    :input_html => {:value => "Installation Trasse",  :class => 'form-control' } %>
              <br>
              <%= device_electrical_installation.label 'Länge' %>
              <%= device_electrical_installation.input :value, :required => false,
                                    :label => false,
                                    :input_html => {:value => elinst1value,
                                                    :class => 'form-control' } %>
          <% end %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :device_electrical_installations2, 'Installation Rohr' %><br><br>
          <%= device.semantic_fields_for :device_electrical_installations2 do |device_electrical_installation| %>
              <%= device_electrical_installation.label 'Kennung' %>
              <%= device_electrical_installation.input :electrical_installation_id, :required => false, :as => :select,
                                    :label => false,
                                    :collection => options_for_select(ElectricalInstallation.all.map { |w| [w.kennung, w.id] }, elinst2),
                                    :input_html => { :class => 'form-control' }%>
              <%= device_electrical_installation.input :definition, :required => false, :as => :hidden,
                                    :label => false,
                                    :input_html => {:value => "Installation Rohr",  :class => 'form-control' } %>
              <br>
              <%= device_electrical_installation.label 'Länge' %>
              <%= device_electrical_installation.input :value, :required => false,
                                    :label => false,
                                    :input_html => {:value => elinst2value,
                                                    :class => 'form-control' } %>
          <% end %>
        </div>
        <br><br>
        <div class="field form-group">
          <%= device.label :device_electrical_installations3, 'Montage Geräte' %><br><br>
          <%= device.semantic_fields_for :device_electrical_installations3 do |device_electrical_installation| %>
              <%= device_electrical_installation.label 'Kennung' %>
              <%= device_electrical_installation.input :electrical_installation_id, :required => false, :as => :select,
                                    :label => false,
                                    :collection => options_for_select(ElectricalInstallation.all.map { |w| [w.kennung, w.id] }, elinst3),
                                    :input_html => { :class => 'form-control' }%>
              <%= device_electrical_installation.input :definition, :required => false, :as => :hidden,
                                    :label => false,
                                    :input_html => {:value => "Montage Geraete",  :class => 'form-control' } %>
              <br>
              <%= device_electrical_installation.label 'Anzahl' %>
              <%= device_electrical_installation.input :value, :required => false,
                                    :label => false,
                                    :input_html => {:value => elinst3value,
                                                    :class => 'form-control' } %>
          <% end %>
        </div>
      </div>
    </div>





    <div class="actions form-group">
      <% if context %>
          <%= device.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= device.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>

<style>
  li {
    list-style: none;
  }
</style>