<%= form_for grobengineering do |grobengineering| %>

    <div class="field form-group">
      <%= grobengineering.label :offertposition, 'Offertposition' %>
      <%= grobengineering.collection_select :offertposition_id, Subsubproject.find(subsubprojectid).offertpositions.sort_by {|obj| obj.name},:id,:name,
                                            {:selected => offertpositionid}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :subsystem, 'Teilanlage' %>
      <%= grobengineering.collection_select :subsystem_id, Subsystem.where(:project_id => projectid).sort_by {|obj| obj.name},:id,:name,
                                                  {:selected => subsystemid, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :unit, 'Unit' %>
      <%= grobengineering.collection_select :unit_id, Unit.all.sort_by {|obj| obj.name},:id,:name,
                                            {:selected => unitid, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :beschreibung, 'Beschreibung' %>
      <%= grobengineering.text_field :beschreibung, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :kommentar, 'Kommentar' %>
      <%= grobengineering.text_field :kommentar, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :device_import, 'Gerät Import' %>
      <%= grobengineering.text_field :device_import, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :device, 'Gerät' %>
      <%= grobengineering.collection_select :device_id, Device.all.sort_by {|obj| obj.definition},:id,:definition,
                                    {:selected => deviceid}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :device_anzahl, 'Geräte Anzahl' %>
      <%= grobengineering.text_field :device_anzahl, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :update_necessary, 'Update notwendig' %>
      <%= grobengineering.text_field :update_necessary, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :iogroup, 'IO-Gruppe' %>
      <%= grobengineering.collection_select :iogroup_id, Iogroup.all.sort_by {|obj| obj.name},:id,:name,
                                            {:selected => iogroupid, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :tag_anlage, 'Tag-Anlage' %>
      <%= grobengineering.text_field :tag_anlage, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :tag_objekt, 'Tag-Objekt' %>
      <%= grobengineering.text_field :tag_objekt, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :tag_nummer, 'Tag-Nummer' %>
      <%= grobengineering.text_field :tag_nummer, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :brake, 'Brake' %>
      <%= grobengineering.text_field :brake, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :klartext, 'Klartext' %>
      <%= grobengineering.text_field :klartext, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :bemerkung, 'Bemerkung' %>
      <%= grobengineering.text_field :bemerkung, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :funktion_sw, 'Funktion SW' %>
      <%= grobengineering.text_field :funktion_sw, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :schaltschrank_preisberechnung, 'Schaltschrank für Preisberechnung' %>
      <%= grobengineering.collection_select :schaltschrank_preisberechnung_id, Switchgearcombination.all.sort_by {|obj| obj.name},:id,:name,
                                            {:selected => schaltschrankpreisberechnungid, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :switchgear_motorenabgang, 'Schaltanlage Motorenabgang' %>
      <%= grobengineering.collection_select :switchgear_motorenabgang_id, Switchgear.all.sort_by {|obj| obj.kennung},:id,:kennung,
                                            {:selected => motorenabgangid, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :fu_typ, 'FU-Typ' %>
      <%= grobengineering.collection_select :fu_typ_id, Drive.all.sort_by {|obj| obj.kennung},:id,:kennung,

                                            {:selected => futypid, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :wire_spez1, 'Kabel Spezifisch 1' %>
      <%= grobengineering.collection_select :wire_spez1_id, Wire.all.sort_by {|obj| obj.kabeltyp},:id,:kabeltyp,

                                            {:selected => wirespez1id, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :kabel_spez1_laenge, 'Kabel Spezifisch 1 Länge' %>
      <%= grobengineering.text_field :kabel_spez1_laenge, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :wire_spez2, 'Kabel Spezifisch 2' %>
      <%= grobengineering.collection_select :wire_spez2_id, Wire.all.sort_by {|obj| obj.kabeltyp},:id,:kabeltyp,

                                            {:selected => wirespez2id, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :kabel_spez2_laenge, 'Kabel Spezifisch 2 Länge' %>
      <%= grobengineering.text_field :kabel_spez2_laenge, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :wire_spez3, 'Kabel Spezifisch 3' %>
      <%= grobengineering.collection_select :wire_spez3_id, Wire.all.sort_by {|obj| obj.kabeltyp},:id,:kabeltyp,

                                            {:selected => wirespez3id, :include_blank => ''}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :kabel_spez3_laenge, 'Kabel Spezifisch 3 Länge' %>
      <%= grobengineering.text_field :kabel_spez3_laenge, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :sicherheitszone, 'Sicherheitszone' %>
      <%= grobengineering.text_field :sicherheitszone, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :lieferant, 'Lieferant' %>
      <%= grobengineering.text_field :lieferant, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :hwdevice_typenr_int, 'Gerät Typ-Nr' %>
      <%= grobengineering.text_field :hwdevice_typenr_int, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :hwdevice_manufact, 'Gerät Hersteller' %>
      <%= grobengineering.text_field :hwdevice_manufact, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :hwdevice_typecode, 'Gerät Typ' %>
      <%= grobengineering.text_field :hwdevice_typecode, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :spannung, 'Spannung [V]' %>
      <%= grobengineering.text_field :spannung, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :leistung, 'Leistung [kW]' %>
      <%= grobengineering.text_field :leistung, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :strom, 'Strom [A]' %>
      <%= grobengineering.text_field :strom, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :motor_rpm, 'Motor Drehzahl' %>
      <%= grobengineering.text_field :motor_rpm, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :motor_cosphi, 'Motor cosPhi' %>
      <%= grobengineering.text_field :motor_cosphi, :class => "form-control", :required => true %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :motor_contype, 'Motor Anschluss' %>
      <%= grobengineering.text_field :motor_contype, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :motor_encoder_fc, 'Motor Drehzahlgeber FU' %>
      <%= grobengineering.text_field :motor_encoder_fc, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :hwdevice_location, 'Standort' %>
      <%= grobengineering.text_field :hwdevice_location, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :hwdevice_inst_phase, 'Montagephase' %>
      <%= grobengineering.text_field :hwdevice_inst_phase, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :bmk_plant, 'BMK_Anlage' %>
      <%= grobengineering.text_field :bmk_plant, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :bmk_location, 'BMK_Ort' %>
      <%= grobengineering.text_field :bmk_location, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :bmk_number, 'BMK_Nummer' %>
      <%= grobengineering.text_field :bmk_number, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :status_lettering, 'Status Beschriftungsschild' %>
      <%= grobengineering.select :status_lettering, [['kein Schild nötig', 0],
                                                               ['Schild nötig', 1],
                                                               ['Text OK', 2],
                                                               ['Bestellen', 3],
                                                               ['Bestellt', 4],
                                                               ['Montiert', 5],
                                                               ['Neu Bestellen', 13]],
                                 {}, { :class => "form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :status_electric_diag, 'Status Elektroschema' %>
      <%= grobengineering.select :status_electric_diag, [['kein Schema', 0],
                                                               ['integrieren', 1],
                                                               ['integriert', 2],
                                                               ['updaten', 11],
                                                               ['update OK', 12]],
                                 {}, { :class => "form-control"} %>
    </div>
    <div class="field form-group">
      <%= grobengineering.label :history, 'History' %>
      <%= grobengineering.text_area :history, :class => "form-control" %>
    </div>

    <%= grobengineering.hidden_field :subsubproject_id, :value => subsubprojectid %>

    <div class="actions form-group">
      <% if context %>
          <%= grobengineering.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= grobengineering.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>