<h1>Grobengineering</h1>
<br>
<% if Assembly.validateEntries %>
  <% if Device.any? %>
      <% if @subsubproject.offertpositions.any? %>
          <% if !@grobengineerings.any? %>
              <h4>Import von CSV</h4>
              <%= form_tag import_project_subproject_subsubproject_grobengineerings_path, multipart: true do %>
                  <div class="actions form-group">
                    <%= file_field_tag :file, class: 'form-control' %><br>
                    <%= submit_tag "Import CSV", class: "btn btn-success" %>
                  </div>
              <% end %><br>
              <br><br>
          <% end %>
          <a href="<%= new_project_subproject_subsubproject_grobengineering_path %>" class="btn btn-success">Neuen Eintrag erstellen</a><br><br>
          <a href="<%=project_subproject_subsubproject_grobengineerings_path%>.csv" class="btn btn-default">CSV-Export</a>
          <a href="<%= delete_all_path(@subsubproject.subproject.project.id, @subsubproject.subproject.id, @subsubproject.id) %>"
             onclick="return confirm('Sind Sie sicher (zu 100% ganz todsicher ;)), alle Grobengineering-Einträge dieser Version zu löschen?')"
             class="btn btn-danger">Alle Einträge löschen</a>
          <a href="<%= grobengineering_extended_path(@subsubproject.subproject.project.id, @subsubproject.subproject.id, @subsubproject.id) %>" class="btn btn-info">Erweiterte Ansicht</a>
          <br><br><br>
          <div id="content">
            <table class="table table-striped table-bordered data_table" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Offertposition</th>
                <th rowspan="2">Teilanlage</th>
                <th rowspan="2">Beschreibung</th>
                <th rowspan="2">Kommentar</th>
                <th rowspan="2">Gerät Import</th>
                <th rowspan="2">Gerät</th>
                <th rowspan="2">Geräte Anzahl</th>
                <th rowspan="2">Signale</th>
                <th rowspan="2">Schaltschrank für Preisberechnung</th>
                <th rowspan="2">Cluster/Schaltschrank zu IO-Gruppe</th>
                <th rowspan="2">IO-Gruppe</th>
                <th rowspan="2">Tag-Anlage</th>
                <th rowspan="2">Tag-Objekt</th>
                <th rowspan="2">Tag-Nummer</th>
                <th rowspan="2">Brake</th>
                <th rowspan="2">Klartext</th>
                <th rowspan="2">Bemerkung</th>
                <th rowspan="2">Funktion SW [h]</th>
                <th rowspan="2">Schaltanlagen Motorenabgang</th>
                <th rowspan="2">FU-Typ</th>
                <th colspan="6">Kabel Spezifisch</th>
                <th rowspan="2">Lieferant</th>
                <th rowspan="2">Spannung [V]</th>
                <th rowspan="2">Leistung [kW]</th>
                <th rowspan="2">Strom [A]</th>
                <th rowspan="2">Strom Total [A]</th>
                <th rowspan="2">Aktionen</th>
              </tr>
              <tr>
                <th>Kabel Spezifisch 1</th>
                <th>Kabel Spezifisch 1 Länge</th>
                <th>Kabel Spezifisch 2</th>
                <th>Kabel Spezifisch 2 Länge</th>
                <th>Kabel Spezifisch 3</th>
                <th>Kabel Spezifisch 3 Länge</th>
              </tr>
              </thead>
              <tbody>
              <% @grobengineerings.each_with_index do |grobengineering, i| %>
                  <tr>
                    <td><%= grobengineering.id %></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.offertposition.name%>"><%= truncate(grobengineering.offertposition.name, :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.subsystem.nil? ? '' : grobengineering.subsystem.name%>"><%= truncate((grobengineering.subsystem.nil? ? '' : grobengineering.subsystem.name), :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.beschreibung%>"><%= truncate(grobengineering.beschreibung, :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.kommentar%>"><%= truncate(grobengineering.kommentar, :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.device_import%>"><%= truncate(grobengineering.device_import, :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.device.definition%>"><%= truncate(grobengineering.device.definition, :length => 40) %></a></td>
                    <td><%= grobengineering.device_anzahl %></td>
                    <td>
                      <ul>
                        <% grobengineering.iosignals.each do |iosignal| %>
                          <li><a class="tooltip-text" data-toggle="tooltip" title="<%=iosignal.tagname%>"><%= truncate(iosignal.tagname, :length => 40) %></a></li>
                        <% end %>
                      </ul>
                    </td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.schaltschrank_preisberechnung.nil? ? '' : grobengineering.schaltschrank_preisberechnung.name)%>"><%= truncate((grobengineering.schaltschrank_preisberechnung.nil? ? '' : grobengineering.schaltschrank_preisberechnung.name), :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.iogroup.nil? ? '' : grobengineering.iogroup.switchgearcombination.name)%>"><%= truncate((grobengineering.iogroup.nil? ? '' : grobengineering.iogroup.switchgearcombination.name), :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.iogroup.nil? ? '' : grobengineering.iogroup.name)%>"><%= truncate((grobengineering.iogroup.nil? ? '' : grobengineering.iogroup.name), :length => 40) %></a></td>
                    <td><%= grobengineering.tag_anlage %></td>
                    <td><%= grobengineering.tag_objekt %></td>
                    <td><%= grobengineering.tag_nummer %></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.brake%>"><%= truncate(grobengineering.brake, :length => 40) %></a></td>
                    <% if @subsubproject.subproject.max_zeichen_klartext_grobeng.to_i < grobengineering.klartext.length.to_i %>
                        <td class="danger"><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.klartext%>"><%= truncate(grobengineering.klartext, :length => 40) %></a></td>
                    <% else %>
                        <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.klartext%>"><%= truncate(grobengineering.klartext, :length => 40) %></a></td>
                    <% end %>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.bemerkung%>"><%= truncate(grobengineering.bemerkung, :length => 40) %></a></td>
                    <td><%= grobengineering.funktion_sw %></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.switchgear_motorenabgang.nil? ? '' : grobengineering.switchgear_motorenabgang.kennung)%>"><%= truncate((grobengineering.switchgear_motorenabgang.nil? ? '' : grobengineering.switchgear_motorenabgang.kennung), :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.fu_typ.nil? ? '' : grobengineering.fu_typ.kennung)%>"><%= truncate((grobengineering.fu_typ.nil? ? '' : grobengineering.fu_typ.kennung), :length => 40) %></a></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.wire_spez1.nil? ? '' : grobengineering.wire_spez1.kabeltyp)%>"><%= truncate((grobengineering.wire_spez1.nil? ? '' : grobengineering.wire_spez1.kabeltyp), :length => 40) %></a></td>
                    <td><%= grobengineering.kabel_spez1_laenge %></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.wire_spez2.nil? ? '' : grobengineering.wire_spez2.kabeltyp)%>"><%= truncate((grobengineering.wire_spez2.nil? ? '' : grobengineering.wire_spez2.kabeltyp), :length => 40) %></a></td>
                    <td><%= grobengineering.kabel_spez2_laenge %></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=(grobengineering.wire_spez3.nil? ? '' : grobengineering.wire_spez3.kabeltyp)%>"><%= truncate((grobengineering.wire_spez3.nil? ? '' : grobengineering.wire_spez3.kabeltyp), :length => 40) %></a></td>
                    <td><%= grobengineering.kabel_spez3_laenge %></td>
                    <td><a class="tooltip-text" data-toggle="tooltip" title="<%=grobengineering.lieferant%>"><%= truncate(grobengineering.lieferant, :length => 40) %></a></td>
                    <td><%= grobengineering.spannung %></td>
                    <td><%= grobengineering.leistung %></td>
                    <td><%= grobengineering.strom %></td>
                    <td><%= grobengineering.strom_total %></td>
                    <td>
                      <a href="<%= project_subproject_subsubproject_grobengineering_path(@project.id, @subproject.id, @subsubproject.id, grobengineering.id) %>" class="btn btn-xs btn-default btn-index">Info</a>
                      <a href="<%= edit_project_subproject_subsubproject_grobengineering_path(@project.id, @subproject.id, @subsubproject.id, grobengineering.id) %>" class="btn btn-xs btn-info btn-index">Bearbeiten</a>
                      <a href="<%= new_project_subproject_subsubproject_grobengineering_iosignal_path(@project.id, @subproject.id, @subsubproject.id, grobengineering.id) %>" class="btn btn-xs btn-success btn-index">Neues Signal erstellen</a>
                      <button type="button" class="btn btn-xs btn-danger btn-index"
                              data-toggle="modal" data-target="#popup_sure_delete"
                              data-itemid="<%= grobengineering.id %>"
                              data-model="grobengineerings">
                        Eintrag löschen
                      </button>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

          <%= render 'layouts/tooltip' %>
          <%= render 'layouts/popups' %>
          <%= render 'layouts/loading', :message => "Lade..." %>

      <% else %>
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Mindestens 1 Offertposition muss zu dieser Version existieren.<br>
            <a href="<%= new_project_subproject_subsubproject_offertposition_path %>">Erstellen</a>
          </div>
      <% end %>
  <% else %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Mindestens 1 Gerät muss in der Datenbank existieren.
      </div>
  <% end %>
<% else %>
<div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  Bitte prüfen, ob folgende IO-Baugruppen in Datenbank mit folgender Kennung existieren:
  <ul>
    <li>PB-Stecker</li>
    <li>ET200SP PB</li>
    <li>ET200SP 08DI</li>
    <li>ET200SP 16DI</li>
    <li>ET200SP 08DO</li>
    <li>ET200SP 16DO</li>
    <li>ET200SP 02AI</li>
    <li>ET200SP 02AO</li>
    <li>ET200SP Enc INKR</li>
    <li>ET200SP Enc SSI</li>
    <li>ET200SP Base mit U-Vers</li>
    <li>ET200SP Base</li>
    <li>PNOZmulti</li>
    <li>PNOZmulti Chipcard</li>
    <li>PNOZmulti Klemm</li>
    <li>PNOZmulti SL</li>
    <li>PNOZmulti SL Klemm</li>
    <li>PNOZmulti PB</li>
    <li>PNOZmulti 08DI</li>
    <li>PNOZmulti 04DO</li>
    <li>PNOZmulti 01AI</li>
    <li>PNOZmulti 01AO</li>
  </ul>
</div>
<% end %>

<%= link_to "Zurück zu Projekt", project_subproject_path(@project.id, @subproject.id) %>