<h1>Offerte</h1>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#berechnung">Berechnung basierend auf Grobengineering</a></li>
  <li><a data-toggle="tab" href="#offerten">Gespeicherte Offerten</a></li>
</ul>

<div class="tab-content">
  <div id="berechnung" class="tab-pane fade in active">
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Geräteanzahl</th>
        <th>Eng Elektroplanung</th>
        <th>Eng Planung/SW</th>
        <th>Eng IBN/Bauleitung</th>
        <th>SPS Total Brutto</th>
        <th>SPS Total Netto</th>
        <th>Schaltanlagen Total Brutto</th>
        <th>Schaltanlagen Total Netto</th>
        <th>Elektroinstallation Total Brutto</th>
        <th>Elektroinstallation Total Netto</th>
        <th>Total Brutto</th>
        <th>Total Netto</th>
      </tr>
      </thead>
      <tbody>
      <% @offert_hash.each do |key1, array1| %>
          <tr class="info" style="font-weight: bold;">
            <td><%= Offertposition.find(key1).name %></td>
            <td><%= array1["device_anzahl"] %></td>
            <td><%= array1["kosten_eng_elplanung_total"].to_f.round(1) %></td>
            <td><%= array1["kosten_eng_planung_sw_total"].to_f.round(1) %></td>
            <td><%= array1["kosten_eng_ibn_bauleitung_total"].to_f.round(1) %></td>
            <td><%= array1["kosten_sps_total_brutto"].to_f.round(1) %></td>
            <td><%= array1["kosten_sps_total_netto"].to_f.round(1) %></td>
            <td><%= array1["kosten_sch_total_brutto"].to_f.round(1) %></td>
            <td><%= array1["kosten_sch_total_netto"].to_f.round(1) %></td>
            <td><%= array1["kosten_elinst_total_brutto"].to_f.round(1) %></td>
            <td><%= array1["kosten_elinst_total_netto"].to_f.round(1) %></td>
            <td><%= array1["kosten_total_brutto"].to_f.round(1) %></td>
            <td><%= array1["kosten_total_netto"].to_f.round(1) %></td>
          </tr>
          <% array1["devices"].each do |key2, array2| %>
              <tr>
                <td><%= Device.find(key2).definition %></td>
                <td><%= array2["device_anzahl"] %></td>
                <td><%= array2["kosten_eng_elplanung_total"].to_f.round(1) %></td>
                <td><%= array2["kosten_eng_planung_sw_total"].to_f.round(1) %></td>
                <td><%= array2["kosten_eng_ibn_bauleitung_total"].to_f.round(1) %></td>
                <td><%= array2["kosten_sps_total_brutto"].to_f.round(1) %></td>
                <td><%= array2["kosten_sps_total_netto"].to_f.round(1) %></td>
                <td><%= array2["kosten_sch_total_brutto"].to_f.round(1) %></td>
                <td><%= array2["kosten_sch_total_netto"].to_f.round(1) %></td>
                <td><%= array2["kosten_elinst_total_brutto"].to_f.round(1) %></td>
                <td><%= array2["kosten_elinst_total_netto"].to_f.round(1) %></td>
                <td><%= array2["kosten_total_brutto"].to_f.round(1) %></td>
                <td><%= array2["kosten_total_netto"].to_f.round(1) %></td>
              </tr>
          <% end %>
      <% end %>
      <tr class="success" style="font-weight: bold;">
        <td>TOTAL</td>
        <td><%= @total_geraeteanzahl %></td>
        <td><%= @total_elplanung.to_f.round(1) %></td>
        <td><%= @total_planung_sw.to_f.round(1) %></td>
        <td><%= @total_ibn_bauleitung.to_f.round(1) %></td>
        <td><%= @total_sps_brutto.to_f.round(1) %></td>
        <td><%= @total_sps_netto.to_f.round(1) %></td>
        <td><%= @total_sch_brutto.to_f.round(1) %></td>
        <td><%= @total_sch_netto.to_f.round(1) %></td>
        <td><%= @total_elinst_brutto.to_f.round(1) %></td>
        <td><%= @total_elinst_netto.to_f.round(1) %></td>
        <td><%= @total_brutto.to_f.round(1) %></td>
        <td><%= @total_netto.to_f.round(1) %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="offerten" class="tab-pane fade">
    <br>
    <a href="<%= new_project_subproject_subsubproject_offer_path %>" class="btn btn-success">Offerte speichern</a><br><br>
    <h2>Bestehende Offerten</h2>
    <table class="table table-striped table-bordered data_table" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Datum</th>
        <th>Beschreibung</th>
        <th>Total Brutto</th>
        <th>Total Netto</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
      <% @subsubproject.offers.each do |offer| %>
          <tr>
            <td><%= offer.datum.strftime("%d.%m.%Y, %H:%M") %></td>
            <td><%= offer.beschreibung %></td>
            <td><%= offer.total_total_brutto.round(2) %></td>
            <td><%= offer.total_total_netto.round(2) %></td>
            <td>
              <a href="<%= project_subproject_subsubproject_offer_path(@project.id, @subproject.id, @subsubproject.id, offer.id) %>" class="btn btn-xs btn-default btn-index">Info</a>
              <a href="<%= edit_project_subproject_subsubproject_offer_path(@project.id, @subproject.id, @subsubproject.id, offer.id) %>" class="btn btn-xs btn-info btn-index">Offerte bearbeiten</a>
              <a href="<%= offer_offer_offertpositions_path(offer.id) %>" class="btn btn-xs btn-info btn-index">Preise bearbeiten</a>
              <button type="button" class="btn btn-xs btn-danger btn-index"
                      data-toggle="modal" data-target="#popup_sure_delete"
                      data-itemid="<%= offer.id %>"
                      data-model="offers">
                Offerte löschen
              </button>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'layouts/loading', :message => "Lade Offerte..." %>
<%= render 'layouts/popups' %>

<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $('.data_table').DataTable().columns.adjust();
        $('.data_table').DataTable().columns.adjust();
    });
</script>


