<%= form_for [supplier, drive_supplier] do |drive_supplier| %>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-lg-5">
        <strong class="hidden-lg">Kennung<br></strong>
        <%= drive_supplier_kennung %></br>
        <strong class="hidden-lg"><br></strong>
      </div>
      <div class="col-lg-2">
        <strong class="hidden-lg">Bruttopreis (CHF)<br></strong>
        <%= drive_supplier.text_field :brutto,
                                      :required => true,
                                      :class => "form-control drive_supplier_fld drive_supplier" + drive_supplierid.to_s + "_fld" %>
        <strong class="hidden-lg"><br></strong>
      </div>
      <div class="col-lg-2">
        <strong class="hidden-lg">Rabatt<br></strong>
        <%= drive_supplier.text_field :rabatt,
                                      :required => true,
                                      :class => "form-control drive_supplier_fld drive_supplier" + drive_supplierid.to_s + "_fld" %>
        <strong class="hidden-lg"><br></strong>
      </div>
      <div class="col-lg-3" style="line-height: 30px;">
        <a class="btn btn-sm btn-info drive_supplier_edit drive_supplier<%=drive_supplierid.to_s%>_edit"
           onclick="editLine(<%=drive_supplierid%>);">Edit</a>
        <%= drive_supplier.submit 'Update',
                                  class: "btn btn-sm btn-success drive_supplier_fld drive_supplier" + drive_supplierid.to_s + "_fld",
                                  data: { disable_with: "Verarbeite..." }  %>
        <strong class="hidden-lg"><br><br><br><br></strong>
      </div>
    </div>
<% end %>