<%= form_for subsubproject do |subsubproject| %>

    <div class="field form-group">
      <%= subsubproject.label :name, 'Name' %>
      <%= subsubproject.text_field :name, :class => "form-control",
                             placeholder: 'Name für Version eingeben' %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :master, 'Master?' %><br>
      <%= subsubproject.check_box :master %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :eurokurs, 'Eurokurs' %>
      <%= subsubproject.text_field :eurokurs, :class => "form-control",
                                   placeholder: 'Eurokurs für Version eingeben' %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :wiresupplier, 'Kabellieferant' %>
      <%= subsubproject.collection_select :wiresupplier_id, Supplier.joins(:suppliertypes).includes(:suppliertypes).where(:suppliertypes => {:name => 'Kabel'}),:id,:name,

                                                  {:selected => wiresupplierid}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :wirecaptionsupplier, 'Kabelbeschriftungslieferant' %>
      <%= subsubproject.collection_select :wiresupplier_id, Supplier.joins(:suppliertypes).includes(:suppliertypes).where(:suppliertypes => {:name => 'Kabelbeschriftung'}),:id,:name,

                                          {:selected => wirecaptionsupplierid}, {class:"form-control"} %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_admin, 'Stundenansatz Admin' %><br>
      <%= subsubproject.text_field :hourrate_admin, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_admin, 'Komplexitätsfaktor Admin' %><br>
      <%= subsubproject.text_field :complexity_admin, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_steuerkonzept, 'Stundenansatz Steuerkonzept' %><br>
      <%= subsubproject.text_field :hourrate_steuerkonzept, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_steuerkonzept, 'Komplexitätsfaktor Steuerkonzept' %><br>
      <%= subsubproject.text_field :complexity_steuerkonzept, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_ioliste, 'Stundenansatz IO-Liste' %><br>
      <%= subsubproject.text_field :hourrate_ioliste, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_ioliste, 'Komplexitätsfaktor IO-Liste' %><br>
      <%= subsubproject.text_field :complexity_ioliste, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_elplanung, 'Stundenansatz Elektroplanung' %><br>
      <%= subsubproject.text_field :hourrate_elplanung, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_elplanung, 'Komplexitätsfaktor Elektroplanung' %><br>
      <%= subsubproject.text_field :complexity_elplanung, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_fktbeschrieb, 'Stundenansatz Funktionsbeschreibung/Dok' %><br>
      <%= subsubproject.text_field :hourrate_fktbeschrieb, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_fktbeschrieb, 'Komplexitätsfaktor Funktionsbeschreibung/Dok' %><br>
      <%= subsubproject.text_field :complexity_fktbeschrieb, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_safetymatrix, 'Stundenansatz Safety-Matrix' %><br>
      <%= subsubproject.text_field :hourrate_safetymatrix, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_safetymatrix, 'Komplexitätsfaktor Safety-Matrix' %><br>
      <%= subsubproject.text_field :complexity_safetymatrix, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_software, 'Stundenansatz Software' %><br>
      <%= subsubproject.text_field :hourrate_software, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_software, 'Komplexitätsfaktor Software' %><br>
      <%= subsubproject.text_field :complexity_software, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_softwaresafety, 'Stundenansatz Software Safety' %><br>
      <%= subsubproject.text_field :hourrate_softwaresafety, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_softwaresafety, 'Komplexitätsfaktor Software Safety' %><br>
      <%= subsubproject.text_field :complexity_softwaresafety, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_bauleitung, 'Stundenansatz Bauleitung' %><br>
      <%= subsubproject.text_field :hourrate_bauleitung, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_bauleitung, 'Komplexitätsfaktor Bauleitung' %><br>
      <%= subsubproject.text_field :complexity_bauleitung, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_parametrierung, 'Stundenansatz Parametrierung' %><br>
      <%= subsubproject.text_field :hourrate_parametrierung, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_parametrierung, 'Komplexitätsfaktor Parametrierung' %><br>
      <%= subsubproject.text_field :complexity_parametrierung, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_signaltest, 'Stundenansatz Signaltest' %><br>
      <%= subsubproject.text_field :hourrate_signaltest, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_signaltest, 'Komplexitätsfaktor Signaltest' %><br>
      <%= subsubproject.text_field :complexity_signaltest, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_safetytest, 'Stundenansatz Safety-Test' %><br>
      <%= subsubproject.text_field :hourrate_safetytest, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_safetytest, 'Komplexitätsfaktor Safety-Test' %><br>
      <%= subsubproject.text_field :complexity_safetytest, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_fkttestkalt, 'Stundenansatz Fkt.-Test kalt' %><br>
      <%= subsubproject.text_field :hourrate_fkttestkalt, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_fkttestkalt, 'Komplexitätsfaktor Fkt.-Test kalt' %><br>
      <%= subsubproject.text_field :complexity_fkttestkalt, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_fkttestheiss, 'Stundenansatz Fkt.-Test heiss' %><br>
      <%= subsubproject.text_field :hourrate_fkttestheiss, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_fkttestheiss, 'Komplexitätsfaktor Fkt.-Test heiss' %><br>
      <%= subsubproject.text_field :complexity_fkttestheiss, :class => "form-control" %>
    </div>

    <div class="field form-group">
      <%= subsubproject.label :hourrate_konformitaet, 'Stundenansatz Konformität' %><br>
      <%= subsubproject.text_field :hourrate_konformitaet, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= subsubproject.label :complexity_konformitaet, 'Komplexitätsfaktor Konformität' %><br>
      <%= subsubproject.text_field :complexity_konformitaet, :class => "form-control" %>
    </div>

    <%= subsubproject.hidden_field :subproject_id, :value => subprojectid %>

    <div class="actions form-group">
      <% if context %>
          <%= subsubproject.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= subsubproject.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>
