<h1><%= @subsubproject.name %></h1>
<br>
<% if @subsubproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subsubproject.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @subsubproject.id %><br>
Name: <%= @subsubproject.name %><br>

<br><br>
<%= link_to "Zurück zu Versionenübersicht", project_subproject_path(@subsubproject.subproject.project.id,
                                                                    @subsubproject.subproject.id) %>
