<%= form_for switchgear do |switchgear| %>

    <div class="field form-group">
      <%= switchgear.label :kennung, 'Kennung' %>
      <%= switchgear.text_field :kennung, :class => "form-control",
                             placeholder: 'Kennnug für Eintrag eingeben' %>
    </div>
    <% type_array = { 0 => "Schaltgerättyp", 1 => "Sonstige"} %>
    <div class="field form-group">
      <%= switchgear.label :typ, 'Typ' %>
      <%= switchgear.select :typ, [['Sonstige', 0], ['Schaltgerättyp', 1]], {}, { :class => "form-control",
                                placeholder: 'Typ eingeben'} %>
    </div>
    <div class="field form-group">
      <%= switchgear.label :leistung, 'Leistung' %>
      <%= switchgear.text_field :leistung, :class => "form-control",
                              placeholder: 'Leistung für Eintrag eingeben' %>
    </div>
    <div class="field form-group">
      <%= switchgear.label :maxstrom, 'Max. Strom' %>
      <%= switchgear.text_field :maxstrom, :class => "form-control",
                                :required => true,
                                placeholder: 'Max. Strom für Eintrag eingeben' %>
    </div>

    <div class="actions form-group">
      <% if context %>
          <%= switchgear.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= switchgear.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>