<h1>Alle Benutzer</h1>
<div id="content">
  <table id="user_table" class="table table-striped table-bordered data_table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>E-Mail</th>
      <th>Projekte</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td>
            <ul style="padding-left: 15px;">
              <% user.projects.each do |project| %>
                  <li><%= link_to project.name, project_path(project.id) %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <button type="button" class="btn btn-xs btn-danger btn-index"
                    data-toggle="modal" data-target="#popup_sure_delete"
                    data-itemid="<%= user.id %>"
                    data-model="users">
              Benutzer löschen
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'layouts/loading', :message => "Lade Benutzer..." %>
<%= render 'layouts/popups' %>
