<h1>Details über Eintrag</h1>
<br>
<% if @history.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @history.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @history.id %><br>
Datum: <%= @history.datum %><br>
Ereignis: <%= @history.ereignis %><br>

<br><br>
<%= link_to "Zurück zu Projektübersicht", project_subproject_path(@history.subproject.project.id, @history.subproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>