<%= form_for [iosignal, iosignalenginfo] do |iosignalenginfo| %>
    <td>
      <a class="btn btn-sm btn-info iosignalenginfo_edit iosignalenginfo<%=iosignalenginfoid.to_s%>_edit"
         onclick="editLine(<%=iosignalenginfoid%>);">Edit</a>
    </td>
    <td>
      <%= iosignal_tagname %></br>
    </td>
    <td>
      <%= iosignalenginfo.text_field :pendenz,
                                   :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
    </td>
    <td>
      <% if !pendenzdate.nil? %>
        <%= iosignalenginfo.text_field :pendenz_datum,
              :value => pendenzdate.try(:strftime,'%d/%m/%Y %H:%M'),
              :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
      <% else %>
          <%= iosignalenginfo.text_field :pendenz_datum,
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld pendenz" + iosignalenginfoid.to_s + "_date" %>
      <% end %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :pendenz_wer,
                                     :id => "pendenz" + iosignalenginfoid.to_s,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld inputdetection" %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :pendenz_antwort,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
    </td>
    <td>
      <% if !pendenzantwortdate.nil? %>
          <%= iosignalenginfo.text_field :pendenz_antwort_datum,
                                         :value => pendenzantwortdate.try(:strftime,'%d/%m/%Y %H:%M'),
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
      <% else %>
          <%= iosignalenginfo.text_field :pendenz_antwort_datum,
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld pendenz_antwort" + iosignalenginfoid.to_s + "_date" %>
      <% end %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :pendenz_antwort_wer,
                                     :id => "pendenz_antwort" + iosignalenginfoid.to_s,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld inputdetection" %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :frage,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
    </td>
    <td>
      <% if !fragedate.nil? %>
          <%= iosignalenginfo.text_field :frage_datum,
                                         :value => fragedate.try(:strftime,'%d/%m/%Y %H:%M'),
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
      <% else %>
          <%= iosignalenginfo.text_field :frage_datum,
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld frage" + iosignalenginfoid.to_s + "_date" %>
      <% end %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :frage_wer,
                                     :id => "frage" + iosignalenginfoid.to_s,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld inputdetection" %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :frage_antwort,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
    </td>
    <td>
      <% if !frageantwortdate.nil? %>
          <%= iosignalenginfo.text_field :frage_antwort_datum,
                                         :value => frageantwortdate.try(:strftime,'%d/%m/%Y %H:%M'),
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
      <% else %>
          <%= iosignalenginfo.text_field :frage_antwort_datum,
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld frage_antwort" + iosignalenginfoid.to_s + "_date" %>
      <% end %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :frage_antwort_wer,
                                     :id => "frage_antwort" + iosignalenginfoid.to_s,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld inputdetection" %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :sw_instruction,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
    </td>
    <td>
      <% if !swinstructiondate.nil? %>
          <%= iosignalenginfo.text_field :sw_instruction_datum,
                                         :value => swinstructiondate.try(:strftime,'%d/%m/%Y %H:%M'),
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
      <% else %>
          <%= iosignalenginfo.text_field :sw_instruction_datum,
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld sw_instruction" + iosignalenginfoid.to_s + "_date" %>
      <% end %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :sw_instruction_wer,
                                     :id => "sw_instruction" + iosignalenginfoid.to_s,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld inputdetection" %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :sw_instruction_antwort,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
    </td>
    <td>
      <% if !swinstructionantwortdate.nil? %>
          <%= iosignalenginfo.text_field :sw_instruction_antwort_datum,
                                         :value => swinstructionantwortdate.try(:strftime,'%d/%m/%Y %H:%M'),
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld" %>
      <% else %>
          <%= iosignalenginfo.text_field :sw_instruction_antwort_datum,
                                         :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld sw_instruction_antwort" + iosignalenginfoid.to_s + "_date" %>
      <% end %>
    </td>
    <td>
      <%= iosignalenginfo.text_field :sw_instruction_antwort_wer,
                                     :id => "sw_instruction_antwort" + iosignalenginfoid.to_s,
                                     :class => "form-control iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld inputdetection" %>
    </td>
    <td>
      <%= iosignalenginfo.submit 'Update',
                                 class: "btn btn-sm btn-success iosignalenginfo_fld iosignalenginfo" + iosignalenginfoid.to_s + "_fld",
                                 data: { disable_with: "Verarbeite..." }  %>
    </td>
<% end %>