<h1>Alle Eng-Infos zu Signale in <%= @subsubproject.name %></h1>
<br>
<% if @iosignals.length == 0 %>
    Keine IO-Signale zu dieser Version vorhanden!
<% else %>
    <div id="content">
      <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        ACHTUNG: Das Datum wird nur abgespeichert falls ein Kürzel dazu eingetragen wird!
      </div>
      <table id="iosignalenginfo_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th rowspan="2">Editieren</th>
            <th rowspan="2">Tagname</th>
            <th colspan="6" class="success">Pendenz</th>
            <th colspan="6" class="warning">Frage</th>
            <th colspan="6" class="info">SW Instruction</th>
            <th rowspan="2">Aktionen</th>
          </tr>
          <tr>
            <th>Pendenz</th>
            <th>Datum</th>
            <th>Wer?</th>
            <th>Antwort</th>
            <th>Antwort Datum</th>
            <th>Antwort Wer?</th>
            <th>Frage</th>
            <th>Datum</th>
            <th>Wer?</th>
            <th>Antwort</th>
            <th>Antwort Datum</th>
            <th>Antwort Wer?</th>
            <th>SW Instruktion</th>
            <th>SW Instruktion Datum</th>
            <th>SW Instruktion Wer?</th>
            <th>Antwort</th>
            <th>Antwort Datum</th>
            <th>Antwort Wer?</th>
          </tr>
        </thead>
        <tbody>
          <% @iosignalenginfos.each do |iosignalenginfo| %>
              <tr>
                <%= render 'form', :iosignalenginfo => iosignalenginfo,
                           :iosignal => iosignalenginfo.iosignal,
                           :iosignal_tagname => iosignalenginfo.iosignal.tagname,
                           :iosignalenginfoid => iosignalenginfo.id %>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>



<%= link_to "Zurück zu Signale", project_subproject_subsubproject_iosignals_path(@project.id, @subproject.id, @subsubproject.id) %>

<%= render 'layouts/loading', :message => "Lade Eng-Infos..." %>

<script>

    $(document).ready ( function(){

      // ACHTUNG!! Muss hier initialisiert werden. Da mit fixierter Aktions-Kolonne der Edit-Button nicht funktioniert!
      $('#iosignalenginfo_table').DataTable({
          scrollX:        true,
          scrollCollapse: true,
          fixedColumns:   {
              leftColumns: 1
          },
          pageLength: 10,
          language: {
              decimal:        "",
              emptyTable:     "Keine Einträge gefunden",
              info:           "Zeige _START_ bis _END_ von _TOTAL_ Einträgen",
              infoEmpty:      "Zeige 0 bis 0 von 0 Einträgen",
              infoFiltered:   "(gefiltert aus total _MAX_ Einträgen)",
              lengthMenu:     "Zeige _MENU_ Einträge",
              loadingRecords: "Lade Daten",
              processing:     "Verarbeite...",
              search:         "Suche",
              zeroRecords:    "0 Einträge",
              paginate: {
                  first:      "Erster",
                  last:       "Letzter",
                  next:       "Nächste",
                  previous:   "Vorherige"
              }
          }
        }
      );

      // Disable all input fields and add 'edit'-button, except for first line.
      <% @iosignalenginfos.each_with_index do |iosignalenginfo, i| %>
        <% if i != 0 %>
          $("input.iosignalenginfo<%=iosignalenginfo.id %>_fld").attr("disabled", true);
          $("select.iosignalenginfo<%=iosignalenginfo.id %>_fld").attr("disabled", true);
        <% else %>
          $("a.iosignalenginfo<%=iosignalenginfo.id %>_edit").hide();
          $("input.iosignalenginfo<%=iosignalenginfo.id %>_fld").attr("disabled", false);
          $("select.iosignalenginfo<%=iosignalenginfo.id %>_fld").attr("disabled", false);
        <% end %>
      <% end %>
    });

    function editLine(id) {
        $("input.iosignalenginfo_fld").attr("disabled", true);
        $("select.iosignalenginfo_fld").attr("disabled", true);
        $("a.iosignalenginfo_edit").show();
        $("a.iosignalenginfo" + id + "_edit").hide();
        $("input.iosignalenginfo" + id + "_fld").attr("disabled", false);
        $("select.iosignalenginfo" + id + "_fld").attr("disabled", false);
    }
</script>
