<h1><%= @wire.kabeltyp %></h1>
<br>
<% if @wire.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @wire.errors.full_messages.first %>
    </div>
<% end %>
<h2>Infos</h2>
ID: <%= @wire.id %><br>
Aderbeschriftung: <%= @wire.aderbeschriftung %><br>
Anzahl Adern: <%= @wire.anzahladern %><br>
Kabeltyp: <%= @wire.kabeltyp %>
<br><br>
<h2>Preise</h2>
<div class="row">
  <% @wire.suppliers.each do |wiresupplier| %>
    <div class="col-lg-4">
      <h3><%= wiresupplier.name %></h3>
      <div class="form-group">
        <label for="sel1">Beschriftungslieferant</label>
        <select class="form-control" id="select_wirecaptionsupplier<%= wiresupplier.id %>">
          <% @wirecaptionsuppliers.each do |wirecaptionsupplier| %>
            <option value="<%= wirecaptionsupplier.id %>"><%= wirecaptionsupplier.name %></option>
          <% end %>
        </select>
      </div>
      <table style="width:100%">
        <tr>
          <td>CHF/m Anschluss Tableauseite</td>
          <td id="hohlboden<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.anschlusstableauseite %></td>
        </tr>
        <tr>
          <td>CHF/m Anschluss Geraeteseite</td>
          <td id="hohlboden<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.anschlussgeraeteseite %></td>
        </tr>
        <tr>
          <td>CHF/m Hohlboden</td>
          <td id="hohlboden<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.installationhohlboden %></td>
        </tr>
        <tr>
          <td>Preis Trasse</td>
          <td id="trasse<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.installationtrasse %></td>
        </tr>
        <tr>
          <td>Preis Rohr</td>
          <td id="rohr<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.installationrohr %></td>
        </tr>
        <tr>
          <td>Beschriftung Kabel 1 Anschluss</td>
          <td id="kabel1anschluss<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.beschriftungkabeleinanschluss %></td>
        </tr>
        <tr>
          <td>Beschriftung Adern 1 Anschluss</td>
          <td id="adern1anschluss<%=wiresupplier.id%>"><%= WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.beschriftungaderneinanschluss %></td>
        </tr>
        <tr>
          <td>Beschriftungsschilder für Kabel 1 Anschluss</td>
          <td id="captionkabel<%=wiresupplier.id%>"></td>
        </tr>
        <tr>
          <td>Beschriftungsschilder für Adern</td>
          <td id="captionadern<%=wiresupplier.id%>"></td>
        </tr>
        <tr>
          <td>Preis beide Anschlüsse ohne Beschriftung</td>
          <td id="anschluesseOhneBeschriftung<%=wiresupplier.id%>"></td>
        </tr>
        <tr>
          <td>Preis Beschriftung Total</td>
          <td id="beschriftungTotal<%=wiresupplier.id%>"></td>
        </tr>
        <tr>
          <td>Preis Anschlüsse Total</td>
          <td id="anschluesseTotal<%=wiresupplier.id%>"></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>


<br><br>
<%= link_to "Zurück zu Kabelübersicht", wires_path %>

<%= render 'layouts/loading', :message => "Lade..." %>


<script>
  var pricesWirecaptionsuppliers = {};
  <% @wirecaptionsuppliers.each do |wirecaptionsupplier| %>
    pricesWirecaptionsuppliers['kostenkabelmitmontagetraeger<%= wirecaptionsupplier.id %>'] = <%= Wirecaptionprice.where(:supplier => wirecaptionsupplier).first.kostenkabelmitmontagetraeger %>;
    pricesWirecaptionsuppliers['kostenadernmitmontagehuelse<%= wirecaptionsupplier.id %>'] = <%= @wire.anzahladern * Wirecaptionprice.where(:supplier => wirecaptionsupplier).first.kostenadermitmontagehuelse %>;
  <% end %>

  var pricesWiresuppliers = {};
  <% @wiresuppliers.each do |wiresupplier| %>
    pricesWiresuppliers['beschriftungkabel1anschluss<%= wiresupplier.id %>'] = <%=
                WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.beschriftungkabeleinanschluss %>;
    pricesWiresuppliers['beschriftungadern1anschluss<%= wiresupplier.id %>'] = <%=
                WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.beschriftungaderneinanschluss %>;
    pricesWiresuppliers['ohneBeschriftung<%= wiresupplier.id %>'] = <%=
                WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.anschlusstableauseite +
                      WireSupplier.where(["wire_id = ? and supplier_id = ?", @wire.id, wiresupplier.id]).first.anschlussgeraeteseite
            %>;
  <% end %>

  <% @wiresuppliers.each do |wiresupplier| %>
    $("#select_wirecaptionsupplier<%= wiresupplier.id %>").change(function() {
        $("#captionkabel<%= wiresupplier.id %>").html("" + pricesWirecaptionsuppliers['kostenkabelmitmontagetraeger' + $(this).val()]);
        $("#captionadern<%= wiresupplier.id %>").html("" + pricesWirecaptionsuppliers['kostenadernmitmontagehuelse' + $(this).val()]);

        var ohneBeschriftung = pricesWiresuppliers["ohneBeschriftung<%= wiresupplier.id %>"];
        var beschriftungTotal1 = 2 * pricesWiresuppliers["beschriftungkabel1anschluss<%= wiresupplier.id %>"];
        var beschriftungTotal2 = <%= @wire.aderbeschriftung %> * pricesWiresuppliers["beschriftungadern1anschluss<%= wiresupplier.id %>"];
        var beschriftungTotal3 = 2 * pricesWirecaptionsuppliers['kostenkabelmitmontagetraeger' + $(this).val()];
        var beschriftungTotal4 = <%= @wire.aderbeschriftung %> * pricesWirecaptionsuppliers['kostenadernmitmontagehuelse' + $(this).val()];
        var beschriftungTotal = beschriftungTotal1 + beschriftungTotal2 + beschriftungTotal3 + beschriftungTotal4;
        var anschluesseTotal = ohneBeschriftung + beschriftungTotal;

        $("#anschluesseOhneBeschriftung<%= wiresupplier.id %>").html(ohneBeschriftung);
        $("#beschriftungTotal<%= wiresupplier.id %>").html(beschriftungTotal);
        $("#anschluesseTotal<%= wiresupplier.id %>").html(anschluesseTotal);
    }).change();
  <% end %>
</script>