<h1>Offerte editieren</h1>
<% if @offer.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @offer.errors.full_messages.first %>
    </div>
<% end %>

<% subsubproject = Subsubproject.find(@offer.subsubproject_id) %>
<% subproject = subsubproject.subproject %>
<% project = subproject.project %>

<%= render 'form', :offer => @offer,
           :subsubprojectid => @subsubproject.id,
           :userid => current_user.id,
           :context => false %>

<a href="/projects/<%= project.id %>/subprojects/<%= subproject.id %>/subsubprojects/<%= subsubproject.id %>/offerte">Zurück zu Offertberechnung</a>

<%= render 'layouts/loading', :message => "Lade..." %>