<h1><%= @unit.name %></h1>
<br>
<% if @unit.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @unit.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @unit.id %><br>
Name: <%= @unit.name %><br>

<br><br>
<%= link_to "Zurück zu Unit-Übersicht", project_subsystem_path(@unit.subsystem.project.id,
                                                                    @unit.subsystem.id) %>
