<h1>Details Schaltgerätekombination</h1>
<br>
<% if @switchgearcombination.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @switchgearcombination.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @switchgearcombination.id %><br>
Name: <%= @switchgearcombination.name %><br>
Typ: <a href="<%= switchgear_path(@switchgearcombination.switchgear.id) %>"><%= @switchgearcombination.switchgear.kennung %></a>
<br>
IO-Gruppen:
<ul>
  <% @switchgearcombination.iogroups.each do |iogroup| %>
      <li><a href="<%= iogroup_path(iogroup.id) %>"><%= iogroup.name %></a></li>
  <% end %>
</ul>

<br><br>
<%= link_to "Zurück zu Schaltgerätekombination-Übersicht", switchgearcombinations_path %>