<%= form_for [project, project_subproject] do |project_subproject| %>

    <div class="field form-group">
      <%= project_subproject.label :name, 'Name' %>
      <%= project_subproject.text_field :name, :class => "form-control",
                                        placeholder: 'Name für Projekt eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :projektnummer_prola, 'Projektnummer Prola' %>
      <%= project_subproject.text_field :projektnummer_prola, :class => "form-control",
                                        placeholder: 'Projektnummer Prola eingeben' %>
    </div>

    <div class="field form-group">
      <%= project_subproject.label :customer, 'Kunde' %>
      <%= project_subproject.collection_select :customer_id, Customer.all.sort_by {|obj| obj.name},:id,:name,
                                    {:selected => customerid}, {class:"form-control"} %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :trennzeichen, 'Trennzeichen' %>
      <%= project_subproject.text_field :trennzeichen, :class => "form-control",
                                        placeholder: 'Trennzeichen für Tagnames eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :max_zeichen_klartext_grobeng, 'Max. Zeichen für Klartext in Grobengineering' %>
      <%= project_subproject.text_field :max_zeichen_klartext_grobeng, :class => "form-control",
                                        :required => true,
                                        placeholder: 'Max. Zeichen für Klartext in Grobengineering eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :max_zeichen_klartext_signal, 'Max. Zeichen für Klartext in Signale' %>
      <%= project_subproject.text_field :max_zeichen_klartext_signal, :class => "form-control",
                                        :required => true,
                                        placeholder: 'Max. Zeichen für Klartext in Signale eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :info1_text, 'Freie Beschreibung 1 für Signale' %>
      <%= project_subproject.text_field :info1_text, :class => "form-control",
                                        placeholder: 'Freie Beschreibung 1 für Signale eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :info2_text, 'Freie Beschreibung 2 für Signale' %>
      <%= project_subproject.text_field :info2_text, :class => "form-control",
                                        placeholder: 'Freie Beschreibung 2 für Signale eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :info3_text, 'Freie Beschreibung 3 für Signale' %>
      <%= project_subproject.text_field :info3_text, :class => "form-control",
                                        placeholder: 'Freie Beschreibung 3 für Signale eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :info4_text, 'Freie Beschreibung 4 für Signale' %>
      <%= project_subproject.text_field :info4_text, :class => "form-control",
                                        placeholder: 'Freie Beschreibung 4 für Signale eingeben' %>
    </div>
    <div class="field form-group">
      <%= project_subproject.label :info5_text, 'Freie Beschreibung 5 für Signale' %>
      <%= project_subproject.text_field :info5_text, :class => "form-control",
                                        placeholder: 'Freie Beschreibung 5 für Signale eingeben' %>
    </div>

    <% if !context %>
      <div class="field form-group">
        <%= project_subproject.label :user_ids, 'Benutzer' %></br>
        <%= project_subproject.select :user_ids,
                           User.all.map { |u| [u.email, u.id] },
                           { include_blank: true }, { class: 'chosen-select', multiple: 'true' } %>
      </div>
    <% end %>

    <%= project_subproject.hidden_field :project_id, :value => projectid %>

    <div class="actions form-group">
      <% if context %>
          <%= project_subproject.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= project_subproject.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>

<script>
    $(".chosen-select").chosen({allow_single_deselect: true, placeholder_text: "Wähle Optionen aus",
        no_results_text: 'Keine Benutzer gefunden', search_contains: true, width: '500px'});
</script>