<%= form_for [project, project_subproject] do |project_subproject| %>

    <div class="field form-group">
      <%= project_subproject.label :name, 'Name' %>
      <%= project_subproject.text_field :name, :class => "form-control",
                             placeholder: 'Name für Projekt eingeben' %>
    </div>

    <div class="field form-group">
      <%= project_subproject.label :customer, 'Kunde' %>
      <%= project_subproject.collection_select :customer_id, Customer.all.sort_by {|obj| obj.name},:id,:name,
                                    {:selected => customerid}, {class:"form-control"} %>
    </div>

    <% if !context %>
      <div class="field form-group">
        <%= project_subproject.label :user_ids, 'Benutzer' %></br>
        <%= project_subproject.select :user_ids,
                           User.all.map { |u| [u.email, u.id] },
                           { include_blank: true }, { class: 'chosen-select', multiple: 'true' } %>
      </div>
    <% end %>

    <%= project_subproject.hidden_field :project_id, :value => projectid %>

    <div class="actions form-group">
      <% if context %>
          <%= project_subproject.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= project_subproject.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>

<script>
    $(".chosen-select").chosen({allow_single_deselect: true, placeholder_text: "Wähle Optionen aus",
        no_results_text: 'Keine Benutzer gefunden', search_contains: true, width: '500px'});
</script>