<%= form_for assembly do |assembly| %>

    <div class="field form-group">
      <%= assembly.label :kennung, 'Kennung' %>
      <%= assembly.text_field :kennung, :class => "form-control",
                             placeholder: 'Kennnug für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
        <%= assembly.label :artikelnr, 'Artikel-Nr.' %>
        <%= assembly.text_field :artikelnr, :class => "form-control",
                                placeholder: 'Artikelnummer für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :bezeichnung, 'Bezeichnung' %>
      <%= assembly.text_field :bezeichnung, :class => "form-control",
                              placeholder: 'Bezeichnung für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :kanal_startnummer, 'Startnummer Kanal' %>
      <%= assembly.text_field :kanal_startnummer, :class => "form-control",
                              :required => true,
                              placeholder: 'Startnummer für Kanal eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'DI' %>
      <%= assembly.text_field :di, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :do, 'DO' %>
      <%= assembly.text_field :do, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :ai, 'AI' %>
      <%= assembly.text_field :ai, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :ao, 'AO' %>
      <%= assembly.text_field :ao, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :z, 'Z' %>
      <%= assembly.text_field :z, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :inkr, 'INKR' %>
      <%= assembly.text_field :inkr, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :ssi, 'SSI' %>
      <%= assembly.text_field :ssi, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :sdi, 'sDI' %>
      <%= assembly.text_field :sdi, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :sdo, 'sDO' %>
      <%= assembly.text_field :sdo, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :sai, 'sAI' %>
      <%= assembly.text_field :sai, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :sao, 'sAO' %>
      <%= assembly.text_field :sao, :required => true, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :brutto_eur, 'Bruttopreis [EUR]' %>
      <%= assembly.text_field :brutto_eur, :class => "form-control",
                                :required => true,
                                placeholder: 'Bruttopreis (in Euro) für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :rabatt, 'Rabatt' %>
      <%= assembly.text_field :rabatt, :class => "form-control",
                                :required => true,
                                placeholder: 'Rabatt für Baugruppe eingeben' %>
    </div>


    <div class="actions form-group">
      <% if context %>
          <%= assembly.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= assembly.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>