<%= form_for assembly do |assembly| %>

    <div class="field form-group">
      <%= assembly.label :kennung, 'Kennung' %>
      <%= assembly.text_field :kennung, :class => "form-control",
                             placeholder: 'Kennnug für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
        <%= assembly.label :artikelnr, 'Artikel-Nr.' %>
        <%= assembly.text_field :artikelnr, :class => "form-control",
                                placeholder: 'Artikelnummer für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :bezeichnung, 'Bezeichnung' %>
      <%= assembly.text_field :bezeichnung, :class => "form-control",
                              placeholder: 'Bezeichnung für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'DI' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'DO' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'AI' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'AO' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'Z' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'INKR' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'SSI' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'sDI' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'sDO' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'sAI' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :di, 'sAO' %>
      <%= assembly.text_field :di, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= assembly.label :brutto_eur, 'Bruttopreis [EUR]' %>
      <%= assembly.text_field :brutto_eur, :class => "form-control",
                              placeholder: 'Bruttopreis (in Euro) für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :brutto_chf, 'Bruttopreis [CHF]' %>
      <%= assembly.text_field :brutto_chf, :class => "form-control",
                              placeholder: 'Bruttopreis (in CHF) für Baugruppe eingeben' %>
    </div>
    <div class="field form-group">
      <%= assembly.label :rabatt, 'Rabatt' %>
      <%= assembly.text_field :rabatt, :class => "form-control",
                              placeholder: 'Rabatt für Baugruppe eingeben' %>
    </div>


    <div class="actions form-group">
      <% if context %>
          <%= assembly.submit 'Erstellen', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% else %>
          <%= assembly.submit 'Update', class: "btn btn-success", data: { disable_with: "Verarbeite..." }  %>
      <% end %>
    </div>

<% end %>