<h1>Baugruppen-Details</h1>
<% if @assembly.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @assembly.errors.full_messages.first %>
    </div>
<% end %>

<% eurokurs = 1.2 %>
ID: <%= @assembly.id %><br>
Kennung: <%= @assembly.kennung %><br>
Anzahl Kanäle: <%= @assembly.kanaele_total %><br>
Artikelnummer: <%= @assembly.artikelnr %><br>
Bezeichnung: <%= @assembly.bezeichnung %><br>
Bruttopreis (EUR): <%= @assembly.brutto_eur %><br>
Bruttopreis (CHF): <%= @assembly.brutto_chf(eurokurs) %><br>
Rabatt: <%= @assembly.rabatt %><br>
Nettopreis: <%= @assembly.netto(eurokurs) %>

<br><br>
<%= link_to "Zurück zu Baugruppenübersicht", assemblies_path %>

<%= render 'layouts/loading', :message => "Lade..." %>