<h1>Details über Info</h1>
<br>
<% if @info.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @info.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @info.id %><br>
Datum: <%= @info.datum %><br>
Quelle: <%= @info.quelle %><br>
Info: <%= @info.info %><br>
Querverweis: <%= @info.querverweis %><br>

<br><br>
<%= link_to "Zurück zu Projektübersicht", project_subproject_path(@info.subproject.project.id, @info.subproject.id) %>