<!DOCTYPE html>
<html>
  <head>
    <title>Projektmappe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col-lg-12">
          <% if notice %>
              <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= notice %>
              </div>
          <% end %>

          <% if alert %>
              <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= alert %>
              </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
    <footer style="height: 100px; background-color: white; margin-top: 50px;"></footer>

    <% number_entries = 50 %>
    <% column_to_sort = 0 %>
    <% case controller_name %>
      <% when "assemblies" %>
        <% number_entries = current_user.anzahl_eintraege_assemblies %>
        <% column_to_sort = current_user.sortierung_assemblies %>
      <% when "customers" %>
          <% number_entries = current_user.anzahl_eintraege_customers %>
          <% column_to_sort = current_user.sortierung_customers %>
      <% when "devices" %>
          <% number_entries = current_user.anzahl_eintraege_devices %>
          <% column_to_sort = current_user.sortierung_devices %>
      <% when "drives" %>
          <% number_entries = current_user.anzahl_eintraege_drives %>
          <% column_to_sort = current_user.sortierung_drives %>
      <% when "electrical_installations" %>
          <% number_entries = current_user.anzahl_eintraege_elinst %>
          <% column_to_sort = current_user.sortierung_elinst %>
      <% when "grobengineerings" %>
          <% number_entries = current_user.anzahl_eintraege_grobengineerings %>
          <% column_to_sort = current_user.sortierung_grobengineerings %>
      <% when "iogroups" %>
          <% number_entries = current_user.anzahl_eintraege_iogroups %>
          <% column_to_sort = current_user.sortierung_iogroups %>
      <% when "iosignals" %>
          <% number_entries = current_user.anzahl_eintraege_iosignals %>
          <% column_to_sort = current_user.sortierung_iosignals %>
      <% when "subprojects" %>
          <% number_entries = current_user.anzahl_eintraege_subprojects %>
          <% column_to_sort = current_user.sortierung_subprojects %>
      <% when "switchgears" %>
          <% number_entries = current_user.anzahl_eintraege_switchgears %>
          <% column_to_sort = current_user.sortierung_switchgears %>
      <% when "switchgearcombinations" %>
          <% number_entries = current_user.anzahl_eintraege_switchgearcombinations %>
          <% column_to_sort = current_user.sortierung_switchgearcombinations %>
      <% when "wires" %>
          <% number_entries = current_user.anzahl_eintraege_wires %>
          <% column_to_sort = current_user.sortierung_wires %>
    <% end %>


    <script>
      $(document).ready(function() {
        $('.data_table').DataTable({
            scrollX:        true,
            scrollCollapse: true,
            fixedColumns:   {
                leftColumns: 1,
                rightColumns: 1
            },
            pageLength: <%= number_entries %>,
            order: [[ <%= column_to_sort %>, "asc" ]],
            language: {
                decimal:        "",
                emptyTable:     "Keine Einträge gefunden",
                info:           "Zeige _START_ bis _END_ von _TOTAL_ Einträgen",
                infoEmpty:      "Zeige 0 bis 0 von 0 Einträgen",
                infoFiltered:   "(gefiltert aus total _MAX_ Einträgen)",
                lengthMenu:     "Zeige _MENU_ Einträge",
                loadingRecords: "Lade Daten",
                processing:     "Verarbeite...",
                search:         "Suche",
                zeroRecords:    "0 Einträge",
                paginate: {
                    first:      "Erster",
                    last:       "Letzter",
                    next:       "Nächste",
                    previous:   "Vorherige"
                }
            }});
      });
    </script>
  </body>
</html>
